*{
    padding: 0;
    margin: 0;
}

:root{
    --image-width: 2.75rem;
    --gapWidth: 0.3rem;
}

.hidden{
    visibility: hidden;
}

body{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: var(--gapWidth);
}

img{
    max-width: var(--image-width);
}

@keyframes move{
    0%{
        transform: translateY(0rem);
    }
    90%{
        transform: translateY(30.25rem);
    }
    100%{
        transform: translateY(30.50rem);
        opacity: 0;
    }
}

.rain-fall{
    animation: move 1.5s ease-in-out forwards infinite;
}

